html{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: url(/Resources/pictures/fruitmachinecasino.jpeg);
background-color: #264653;
margin-left: 25%;
margin-right: 25%;
width: 50%;
}

.reelOne, .reelTwo, .reelThree, .reelFour{
    overflow-y: hidden;
    display:inline-block;
    font-size: 8vw;
    width: 8vw;
    height: 9.75vw;
    line-height: 10vw;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: 5px solid gold;
    border-radius: 10px;
    background: rgba(0,0,0,0.6);
}
h1 {
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
    font-size: 3rem;
    color:#E9C46A;
}
.play{

    grid-column: 1/5;
    grid-row: 2;
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 400;
    border: 3px solid;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2.5px 2.5px 1.25px #AAAAAA; 
    background-color: silver;
    align-items:baseline;
    justify-items: center;
    padding: 1.5rem;
    appearance: none;
    outline: none;
}

.play:active {
    background: #E9C46A;
}

.reelOne{
    grid-column: 1;
    grid-row: 3;
}
.reelTwo{
    grid-column: 2;
    grid-row: 3;
}
.reelThree{
    grid-column: 3;
    grid-row: 3;
}

.reelFour{
grid-column: 4;
grid-row: 3;

}
.holdOne{
    grid-column: 1;
    grid-row: 4;
}

.holdTwo{
    grid-column: 2;
    grid-row: 4;
}

.holdThree{
    grid-column: 3;
    grid-row: 4;
}

.holdFour{
    grid-column: 4;
    grid-row:4;
}

.bank{
    grid-column: 1/5;
    grid-row: 5;
    font-size: 3rem;
    color: white;
}

#hold{
    font-size: 2vw;
    border-radius: 10px;
    border: 3px solid;
    padding: 1rem;
    background-color: silver;
    width:fit-content;
    height: fit-content;
    box-shadow: 2.5px 2.5px 1.25px #AAAAAA; 
    margin-top: 1vh;
}

